#pvg_video_list {
    margin-bottom: 20px;
}

.pvg_video_item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pvg_video_item label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}


.pvg_video_item input[type="radio"] {
    margin-right: 8px;
}


.pvg_video_item input[type="text"] {
    width: calc(100% - 180px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pvg_video_item .button {
    padding: 8px 12px;
    font-size: 13px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #0073aa;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none;
}

.pvg_video_item .button:hover {
    background-color: #005177;
}

.pvg_video_item .pvg_remove_video {
    background-color: #d63638;
}

.pvg_video_item .pvg_remove_video:hover {
    background-color: #a22425;
}


.pvg_video_item .button {
    display: inline-block;
    vertical-align: top;
}


#pvg_video_meta_box {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pvg_add_video_button {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #0073aa;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pvg_add_video_button:hover {
    background-color: #005b8d;
}

.pvg_add_video_button i {
    margin-right: 6px;
}

/* -----------------display video-------------- */
.pvg-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pvg-gallery {
    width: 48%;
}

.pvg-video-slider {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 35vw;
    height: 30vw;
    object-fit: contain !important;
}

.product-video {
    width: 35vw !important;
    height: 30vw !important;
}


.pvg-video-slider iframe,
.pvg-video-slider img,
.pvg-video-slider video {
    width: 35vw;
    height: 30vw !important;
}

.pvg-theme {
    width: 48%;
}


/*------------------end------------------*/

@media (max-width: 768px) {
    .pvg_video_item input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .pvg_video_item .button {
        width: 100%;
        margin-bottom: 10px;
    }
}

.slick-prev,
.slick-next {
    background: gray !important;
    border: none !important;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}

.slick-arrow-custom {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    color: red;
    width: 40px;
    height: 40px;
    display: inline;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}

.slick-prev.slick-arrow-custom {
    left: 10px;
}

.slick-next.slick-arrow-custom {
    right: 10px;
}

.slick-arrow-custom i {
    font-size: 20px;
}

.slick-prev.slick-arrow-custom,
.slick-next.slick-arrow-custom {
    opacity: 1 !important;
    visibility: visible !important;
}